<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
     <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script defer src="../static/js/Webcam.js"></script>
    <title>카메라 촬영</title>

    <style>

        * {
            font-family: 'Sunflower', sans-serif;
        }

        .btns {
            outline: none;
            border:0;
            width: 15vw;
            height: 7vw;
            border-radius: 20px;
            background-color: #77B3BE;
            font-weight: bold;

        }
    </style>
</head>
<body>

<video id="myVideo" width="400" height="300" style="border: 1px solid #ddd;"></video>
<canvas id="myCanvas" width="160" height="140" style="border: 1px solid #ddd;"></canvas><br>
<p></p>
<input class="btns" type=button value="카메라 켜기" onclick="{getVideo()}">
<input class="btns" type=button value="사진촬영"  onclick="{takeSnapshot()}">




</body>
</html>